<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center justify-content-between" href="/">
          <%= image_tag 'mine', widht: "50", height: "50", class: "d-inline-block align-text-top me-2" %>
          Minesweeper
        </a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
